body {
    background-color: #0B1D26;
    color: white;
    background-image: url(./assets/background-hiking.png);
    background-repeat: no-repeat;
    background-position: center top;
}

header {
    height: 150vh;
}

.nav-hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.nav-hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FBD784;;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.after-line-text {
    margin-left: 20px;
}

.hero-section h1 {
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.scroll-down img {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.body-section {
    width: 100%;
    padding: 0 50px 10px 50px;
    background: rgba(11,29,38, 0.3);
}

.body-first-div {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
}

.body-second-div {
    margin-bottom: 50px;
}

.body-first-div-right {
    position: relative
}

.first-number {
    position: absolute;
    font-size: 200px;
    opacity: 0.2;
    line-height: 1;
}

.body-first-div-right img {
    width: 100%;
}

.body-first-div-left-text, .body-second-div-right-text {
    padding: 20px;
}

.body-first-div-left-text h1{
    margin: 30px auto;
}

.read-more {
    margin-top: 30px;
}

.yellow {
    color: #FBD784;
}

.read-more img {
    margin-left: 10px;
}

.body-second-div{
    display: flex;
    flex-direction: column;
}

.body-second-div-right {
    position: relative
}

.second-number {
    position: absolute;
    font-size: 200px;
    opacity: 0.2;
    line-height: 1;
}

.body-second-div-left img {
    width: 100%;
}

.body-second-div-right-text h1{
    margin: 30px auto;
}

@media screen and (min-width: 768px) {

    header {
        height: 170vh;
    }

    .body-section {
        padding: 0 50px 10px 50px;
        background-color: transparent;
    }

    .body-first-div-left-text, .body-second-div-right-text{
        padding: 20px;
    }

    .body-first-div, .body-second-div{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 170vh;
    }

    .body-first-div-left-text, .body-second-div-right-text{
        padding: 50px;
    }

    .body-section {
        padding: 0 100px 10px 100px;
    }
}

@media screen and (min-width: 1200px) {

    .body-section {
        /* background-image: radial-gradient(red, yellow, green); */
        background-color: transparent;
        padding: 0 170px 10px 170px;
    }

    .body-first-div-left-text, .body-second-div-right-text{
        padding: 70px;
    }
}